In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
bat = pd.read_csv("batting.csv")
bat.head()

,MatchID,InningsNo,Team,PlayerName,MatchPlayingOrder,BowlerName,OutDesc,Runs,Balls,DotBalls,Ones,Twos,Threes,Fours,Sixes,StrikeRate,WicketNo,AgainstFast,AgainstSpin
0,1,1,CSK,Ruturaj Gaikwad,1,Umesh Yadav,c Nitish Rana b Umesh Yadav,0,4,4,0,0,0,0,0,0.00,3.0,3,0
1,1,1,CSK,Devon Conway,2,Umesh Yadav,c Shreyas Iyer b Umesh Yadav,3,8,5,3,0,0,0,0,37.50,2.0,8,0
2,1,1,CSK,Robin Uthappa,3,Varun Chakaravarthy,st Sheldon Jackson b Varun Chakaravarthy,28,21,10,6,1,0,2,2,133.33,5.0,15,6
3,1,1,CSK,Ambati Rayudu,4,Sunil Narine,run out (Shreyas Iyer),15,17,10,5,0,0,1,1,88.24,1.0,4,13
4,1,1,CSK,Ravindra Jadeja,5,NaN,not out,26,28,8,18,1,0,0,1,92.86,NaN,14,14

In [4]:
bat.describe()

,MatchID,InningsNo,MatchPlayingOrder,Runs,Balls,DotBalls,Ones,Twos,Threes,Fours,Sixes,WicketNo,AgainstFast,AgainstSpin
count,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,911.000000,1628.000000,1628.000000
mean,37.608108,1.500000,6.000000,14.159705,10.571253,4.093980,3.921376,0.627150,0.035627,1.238943,0.652334,4.472009,6.824324,3.702703
std,21.547791,0.500154,3.163249,20.275401,13.142609,4.778989,5.697342,1.153994,0.201307,2.058166,1.272667,2.863763,8.534458,5.950012
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,19.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
50%,37.500000,1.500000,6.000000,5.000000,6.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,0.000000
75%,56.000000,2.000000,9.000000,22.000000,16.000000,7.000000,6.000000,1.000000,0.000000,2.000000,1.000000,6.000000,11.000000,5.000000
max,76.000000,2.000000,11.000000,140.000000,70.000000,28.000000,32.000000,10.000000,2.000000,13.000000,10.000000,11.000000,57.000000,30.000000

In [5]:
bat.max()

C:\Users\harry\AppData\Local\Temp\ipykernel_41476\2013615877.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  bat.max()

MatchID                            76
InningsNo                           2
Team                              SRH
PlayerName           Yuzvendra Chahal
MatchPlayingOrder                  11
Runs                              140
Balls                              70
DotBalls                           28
Ones                               32
Twos                               10
Threes                              2
Fours                              13
Sixes                              10
StrikeRate                      96.88
WicketNo                         11.0
AgainstFast                        57
AgainstSpin                        30
dtype: object

In [8]:
team = bat.groupby("Team")

In [9]:
team.mean()

,MatchID,InningsNo,MatchPlayingOrder,Runs,Balls,DotBalls,Ones,Twos,Threes,Fours,Sixes,WicketNo,AgainstFast,AgainstSpin
Team,,,,,,,,,,,,,,
CSK,35.500000,1.285714,6.0,14.058442,10.727273,4.240260,4.006494,0.590909,0.025974,1.188312,0.668831,4.102273,7.246753,3.428571
DC,37.214286,1.642857,6.0,14.402597,10.318182,3.987013,3.727273,0.532468,0.051948,1.331169,0.688312,4.506173,6.396104,3.876623
GT,41.000000,1.562500,6.0,14.301136,10.806818,3.721591,4.517045,0.687500,0.011364,1.420455,0.448864,4.036585,6.812500,3.954545
KKR,33.000000,1.642857,6.0,13.694805,10.207792,4.344156,3.305195,0.636364,0.038961,1.149351,0.733766,4.971154,6.831169,3.331169
LSG,36.800000,1.466667,6.0,14.575758,10.672727,3.775758,4.315152,0.715152,0.030303,1.139394,0.696970,4.280899,7.000000,3.654545
MI,36.142857,1.642857,6.0,13.636364,10.603896,4.318182,3.811688,0.668831,0.032468,1.123377,0.649351,4.372340,6.662338,3.889610
PBSK,35.357143,1.357143,6.0,14.240260,10.519481,4.324675,3.636364,0.512987,0.032468,1.298701,0.714286,5.050505,6.837662,3.623377
RCB,38.562500,1.437500,6.0,13.943182,10.653409,4.210227,3.863636,0.659091,0.079545,1.261364,0.579545,4.500000,6.534091,4.079545
RR,42.941176,1.235294,6.0,15.010695,10.887701,4.235294,3.935829,0.614973,0.026738,1.331551,0.732620,4.216495,7.278075,3.550802
SRH,37.857143,1.785714,6.0,13.532468,10.194805,3.811688,3.987013,0.636364,0.025974,1.103896,0.629870,4.531646,6.577922,3.584416

In [11]:
team.head()

,MatchID,InningsNo,Team,PlayerName,MatchPlayingOrder,BowlerName,OutDesc,Runs,Balls,DotBalls,Ones,Twos,Threes,Fours,Sixes,StrikeRate,WicketNo,AgainstFast,AgainstSpin
0,1,1,CSK,Ruturaj Gaikwad,1,Umesh Yadav,c Nitish Rana b Umesh Yadav,0,4,4,0,0,0,0,0,0.00,3.0,3,0
1,1,1,CSK,Devon Conway,2,Umesh Yadav,c Shreyas Iyer b Umesh Yadav,3,8,5,3,0,0,0,0,37.50,2.0,8,0
2,1,1,CSK,Robin Uthappa,3,Varun Chakaravarthy,st Sheldon Jackson b Varun Chakaravarthy,28,21,10,6,1,0,2,2,133.33,5.0,15,6
3,1,1,CSK,Ambati Rayudu,4,Sunil Narine,run out (Shreyas Iyer),15,17,10,5,0,0,1,1,88.24,1.0,4,13
4,1,1,CSK,Ravindra Jadeja,5,NaN,not out,26,28,8,18,1,0,0,1,92.86,NaN,14,14
11,1,2,KKR,Ajinkya Rahane,2,Mitchell Santner,c Ravindra Jadeja b Mitchell Santner,44,34,15,10,2,0,6,1,129.41,1.0,21,13
12,1,2,KKR,Venkatesh Iyer,3,Dwayne Bravo,c MS Dhoni b Dwayne Bravo,16,16,9,2,3,0,2,0,100.00,3.0,14,2
13,1,2,KKR,Nitish Rana,4,Dwayne Bravo,c Ambati Rayudu b Dwayne Bravo,21,17,7,7,0,0,2,1,123.53,4.0,13,4
14,1,2,KKR,Shreyas Iyer,1,NaN,not out,20,19,4,12,2,0,1,0,105.26,NaN,7,12
15,1,2,KKR,Sam Billings,6,Dwayne Bravo,c Tushar Deshpande b Dwayne Bravo,25,22,8,9,3,0,1,1,113.64,2.0,5,17
22,2,1,MI,Rohit Sharma,2,Kuldeep Yadav,c Rovman Powell b Kuldeep Yadav,41,32,14,11,1,0,4,2,128.13,2.0,22,10
23,2,1,MI,Ishan Kishan,1,NaN,not out,81,48,12,21,2,0,11,2,168.75,NaN,21,27
24,2,1,MI,Anmolpreet Singh,4,Kuldeep Yadav,c Lalit Yadav b Kuldeep Yadav,8,9,3,4,2,0,0,0,88.89,4.0,0,9
25,2,1,MI,Tilak Varma,3,Khaleel Ahmed,c Prithvi Shaw b Khaleel Ahmed,22,15,4,6,2,0,3,0,146.67,3.0,7,8
26,2,1,MI,Kieron Pollard,5,Kuldeep Yadav,c Tim Seifert b Kuldeep Yadav,3,6,3,3,0,0,0,0,50.00,5.0,3,3
33,2,2,DC,Prithvi Shaw,1,Basil Thampi,c Ishan Kishan b Basil Thampi,38,24,10,6,2,0,4,2,158.33,1.0,18,6
34,2,2,DC,Tim Seifert,2,Murugan Ashwin,b Murugan Ashwin,21,14,7,2,0,1,4,0,150.00,11.0,11,3
35,2,2,DC,Mandeep Singh,3,Murugan Ashwin,c Tilak Varma b Murugan Ashwin,0,2,2,0,0,0,0,0,0.00,5.0,0,2
36,2,2,DC,Rishabh Pant,4,Tymal Mills,c Tim David b Tymal Mills,1,2,1,1,0,0,0,0,50.00,4.0,1,1
37,2,2,DC,Lalit Yadav,6,NaN,not out,48,38,13,18,1,0,4,2,126.32,NaN,27,11
44,3,1,RCB,Faf Du Plessis,1,Arshdeep Singh,c Shahrukh Khan b Arshdeep Singh,88,57,21,18,8,0,3,7,154.39,1.0,31,26
45,3,1,RCB,Anuj Rawat,2,Rahul Chahar,b Rahul Chahar,21,20,12,3,2,0,2,1,105.00,9.0,17,3
46,3,1,RCB,Virat Kohli,3,NaN,not out,41,29,5,17,4,0,1,2,141.38,NaN,10,19
47,3,1,RCB,Dinesh Karthik,4,NaN,not out,32,14,6,2,0,0,3,3,228.57,NaN,14,0
48,3,1,RCB,Sherfane Rutherford,5,NaN,NaN,0,0,0,0,0,0,0,0,-,NaN,0,0
55,3,2,PBSK,Mayank Agarwal,6,Wanindu Hasaranga,c Shahbaz Ahmed b Wanindu Hasaranga,32,24,9,10,1,0,2,2,133.33,2.0,20,4
56,3,2,PBSK,Shikhar Dhawan,7,Harshal Patel,c Anuj Rawat b Harshal Patel,43,29,8,13,2,0,5,1,148.28,3.0,23,6
57,3,2,PBSK,Bhanuka Rajapaksa,9,Mohammed Siraj,c Shahbaz Ahmed b Mohammed Siraj,43,22,8,5,3,0,2,4,195.45,1.0,11,11
58,3,2,PBSK,Liam Livingstone,8,Akash Deep,c Anuj Rawat b Akash Deep,19,10,3,3,2,0,0,2,190.00,4.0,7,3
59,3,2,PBSK,Rajangad Bawa,11,Mohammed Siraj,lbw Mohammed Siraj,0,1,1,0,0,0,0,0,0.00,10.0,1,0
66,4,1,LSG,K L Rahul,1,Mohammad Shami,c Matthew Wade b Mohammad Shami,0,1,1,0,0,0,0,0,0.00,2.0,1,0
67,4,1,LSG,Quinton De Kock,4,Mohammad Shami,b Mohammad Shami,7,9,5,3,0,0,1,0,77.78,7.0,9,0
68,4,1,LSG,Evin Lewis,5,Varun Aaron,c Shubman Gill b Varun Aaron,10,9,5,2,0,0,2,0,111.11,3.0,9,0
69,4,1,LSG,Manish Pandey,2,Mohammad Shami,b Mohammad Shami,6,5,2,2,0,0,1,0,120.00,5.0,5,0
70,4,1,LSG,Deepak Hooda,7,Rashid Khan,lbw Rashid Khan,55,41,17,14,1,1,6,2,134.15,8.0,30,11
77,4,2,GT,Shubman Gill,2,Dushmantha Chameera,c Deepak Hooda b Dushmantha Chameera,0,3,3,0,0,0,0,0,0.00,3.0,3,0
78,4,2,GT,Matthew Wade,3,Deepak Hooda,b Deepak Hooda,30,29,14,8,3,0,4,0,103.45,8.0,11,18
79,4,2,GT,Vijay Shankar,4,Dushmantha Chameera,b Dushmantha Chameera,4,6,3,2,1,0,0,0,66.67,9.0,6,0
80,4,2,GT,Hardik Pandya,1,Krunal Pandya,c Manish Pandey b Krunal Pandya,33,28,16,5,1,0,5,1,117.86,1.0,16,12
81,4,2,GT,David Miller,5,Avesh Khan,c K L Rahul b Avesh Khan,30,21,5,12,1,0,1,2,142.86,2.0,3,18
88,5,1,RR,Jos Buttler,1,Umran Malik,c Nicholas Pooran b Umran Malik,35,28,17,5,0,0,3,3,125.00,1.0,22,4
89,5,1,RR,Yashasvi Jaiswal,2,Romario Shepherd,c Aiden Markram b Romario Shepherd,20,16,7,6,0,0,2,1,125.00,3.0,11,3
90,5,1,RR,Sanju Samson,4,Bhuvneshwar Kumar,c Abdul Samad b Bhuvneshwar Kumar,55,27,9,7,3,0,3,5,203.70,4.0,12,15
91,5,1,RR,Devdutt Padikkal,3,Umran Malik,b Umran Malik,41,29,12,9,2,0,4,2,141.38,7.0,28,1
92,5,1,RR,Shimron Hetmyer,5,T Natarajan,b T Natarajan,32,13,3,4,1,0,2,3,246.15,8.0,12,1
99,5,2,SRH,Kane Williamson,3,Prasidh Krishna,c Devdutt Padikkal b Prasidh Krishna,2,7,6,0,1,0,0,0,28.57,3.0,7,0
100,5,2,SRH,Abhishek Sharma,1,Yuzvendra Chahal,c Shimron Hetmyer b Yuzvendra Chahal,9,19,13,5,0,0,1,0,47.37,5.0,16,3
101,5,2,SRH,Rahul Tripathi,4,Prasidh Krishna,c Sanju Samson b Prasidh Krishna,0,3,3,0,0,0,0,0,0.00,2.0,3,0
102,5,2,SRH,Nicholas Pooran,5,Trent Boult,lbw Trent Boult,0,9,9,0,0,0,0,0,0.00,6.0,9,0
103,5,2,SRH,Aiden Markram,2,NaN,not out,57,41,10,23,1,0,5,2,139.02,NaN,14,27

In [16]:
top_bat = bat[["Runs", "Balls", "PlayerName"]].groupby("PlayerName").sum().sort_values("Runs", ascending=0)
top_bat.head(10)

                 Runs  Balls
PlayerName
Jos Buttler       863    579
K L Rahul         616    455
Quinton De Kock   508    341
Hardik Pandya     487    371
Shubman Gill      483    365
David Miller      481    337
Faf Du Plessis    468    367
Shikhar Dhawan    460    375
Sanju Samson      458    312
Deepak Hooda      451    330

In [26]:
top_bat["Economy"] = top_bat["Runs"] / top_bat["Balls"]
top_bat.head(10)

                 Runs  Balls   Economy
PlayerName
Jos Buttler       863    579  1.490501
K L Rahul         616    455  1.353846
Quinton De Kock   508    341  1.489736
Hardik Pandya     487    371  1.312668
Shubman Gill      483    365  1.323288
David Miller      481    337  1.427300
Faf Du Plessis    468    367  1.275204
Shikhar Dhawan    460    375  1.226667
Sanju Samson      458    312  1.467949
Deepak Hooda      451    330  1.366667

In [27]:
top_bat = top_bat.sort_values("Economy", ascending=0)
top_bat.head(10)

                  Runs  Balls   Economy
PlayerName
Prerak Mankad        4      1  4.000000
Pat Cummins         63     24  2.625000
Tim David          186     86  2.162791
Rashid Khan         91     44  2.068182
Ripal Patel          6      3  2.000000
Dinesh Karthik     330    180  1.833333
Liam Livingstone   437    240  1.820833
Sunil Narine        71     40  1.775000
Andre Russell      335    192  1.744792
Manan Vohra         19     11  1.727273

In [25]:
sns.barplot(data=top_bat, x="PlayerName", y="Economy")

ValueError: Could not interpret input 'PlayerName'